<h1>H-Bucks</h1>
<table>
<thead>
<tr>
  <th>Chores</th>
  <th>Prize</th>
  <th>Status</th>
</tr>
</thead>
<tbody>
  <% @chores.each do |chore| %>
    <tr>
      <td><%= chore[:name] %></td>
      <td><%= chore[:prize] %></td>
      <td><%= chore[:status] %></td>
    </tr>
  <% end %>
</tbody>
</table>
